* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

* {
    font-family: 'Lato', sans-serif;
    color: #33475b;
}

.fullwidth {
    height: 300px;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

/* inizio riga 1*/

.bgc-lgray {
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
}

.lang {
    height: 70px;
    padding: 10px;
    line-height: 50px;
    float: left;
}

#logo, .lang-menu, .contact-us, #srchlens, .button-top {
    float: left;
}

#logo, .lang-menu, .lang-menu a, .contact-us {
    margin-right: 10px;
}

.lang-menu a {
    text-decoration: none;
}

.lang-menu .fas.fa-sort-down {
    padding-right: 10px;
    border-right: 2px solid #cbd6e2;
}

.fas.fa-sort-down {
    color: #0091ae;
    font-size: 17px;
}

.lang a, p {
    font-weight: bold;
}

.cta-button {
    height: 70px;
    padding: 10px;
    line-height: 50px;
    float: right;
}

/* colore bottoni over = #ff8f73 */

#srchlens, .button-top {
    margin-left: 10px;
}

#srchlens {
    margin-right: 10px;
}

.fa-search {
    color: darkturquoise;
}

.login-button {
    background-color: white;
    color: #ff7a59;
    border: 1px solid #ff7a59;
    border-radius: 4px;
    padding: 6px 13px;
}

.get-button {
    color: white;
    background-color: #ff7a59;
    border: none;
    border-radius: 4px;
}

.hbs-free-small {
    padding: 6px 13px;
}

/* fine riga 1 */

/* inizio riga 2 */

.nav-row {
    height: 70px;
    padding: 10px;
    line-height: 50px;
}

.img-logo {
    float: left;
}

.img-logo img {
    vertical-align: middle;
}

.navbar {
    float: right;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    float: left;
    text-align: center;
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    font-weight: bold;
}

.navbar ul .fas.fa-sort-down {
    margin-left: 10px;
    vertical-align: text-top;
}


/* fine riga 2 */

/* inizio riga 3 */

.bgc-blue {
    background-color: #425b76;
}


/* fine riga 3 */

/* inizio riga 4 */

.bgc-lgreen {
    background-color: #afebe4;
    border-bottom: 3px solid #33475b;
}

.fullw-color {
    height: 80%;
    background-image: linear-gradient(to right top, rgb(254, 248, 240), rgb(255, 243, 238), rgb(255, 241, 238));
    border-bottom: 3px solid #33475b;
}

/* fine riga 4 */

/* inizio riga 5 */



/* fine riga 5 */


/* inizio riga 6 */

.bgc-agreen {
    background-image: linear-gradient(45deg, rgb(0, 164, 189), rgb(0, 189, 165));
}


/* fine riga 6 */


/* inizio riga 7 */


/* fine riga 7 */


/* inizio riga 8 */

.bgc-dblue {
    background-color: #33475b;
}


/* fine riga 8 */
